<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('home') }}">
            <img src="{{ asset('build/brand.png') }}" alt="Nurschool" width="92" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="nav" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('home') }}">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
            {% if app.user %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{ app.user.username }}
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Profile
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ path('logout') }}">
                            Exit
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="buttons">
                    <a class="button is-primary" href="{{ path('register') }}">Sign up</a>
                    <a class="button is-link" href="{{ path('login') }}">Log in</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>