{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to EasyAdmin 3' %}

{% block page_content %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>Welcome to Nurschool!</strong>
    </p>

    <p>
        You must config your user account.
    </p>

    {% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.avatarFile) }}

    <button class="btn btn-primary" type="submit" value="next">
        <span class="btn-label">Continuar</span>
    </button>

    {{ form_end(form) }}

{% endblock %}
